.ant-tabs-nav::before {
  border: none !important;
}

.ant-tabs-nav .ant-tabs-nav-wrap {
  justify-content: center;
  align-items: center;
}

.ant-tabs-nav .ant-tabs-tab {
  border-radius: 0px !important;
  font-size: 30px !important;
  color: coral !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: coral !important;
}
.ant-tabs-ink-bar {
  background-color: darkorange !important;
}
/* next - prev */

.ant-tabs {
  overflow: inherit !important;
}
@media (max-with: 1024) {
  .ant-tabs-nav .ant-tabs-tab {
    display: none !important;
  }
}
@media (max-with: 768) {
  .ant-tabs-nav .ant-tabs-tab {
    display: none !important;
  }
}
@media (max-with: 375) {
  .slick-initialized .slick-slide {
    display: contents !important;
  }

  .slick-track .slick-slide {
    width: 0px !important;
  }
}
.slick-slide > div {
  width: 100% !important;
  padding: 0 10px;
}
.slick-slide .ant-card {
  width: 100% !important;
}
