.ant-tabs-nav .ant-tabs-tab {
  padding-left: 10px !important;
  margin-left: 20 !important;
  background-color: transparent !important;
  border: none !important;
}

.progress {
  stroke: red;
  stroke-linecap: round;
  stroke-linejoin: round;
}
@media (min-width: 375px) {
  .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: flex-start !important;
  }
  .ant-tabs-nav-wrap .ant-tabs-nav-wrap-ping-right::before {
    justify-content: flex-start !important;
  }
}
@media (min-width: 768px) {
  .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: center !important;
  }
  .ant-tabs-nav-wrap .ant-tabs-nav-wrap-ping-right::before {
    justify-content: center !important;
  }
}
